<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur Gossip!</h1>
    <p>La liste n'est pas encore disponible. Visitez la page pour créer un nouveau gossip: <a href="/gossips/new/">Mon nouveau gossip</a></p>
  </body>
</html>