<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur Gossip!</h1>
    <h2>Voici tous les gossips</h2>
    <a href="/gossips/new/">Mon nouveau gossip</a>
    <hr>
    <div>
        <% gossips.each do |gossip| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
<% end %>
    </div>

  </body>
</html>