<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur Gossip!</h1>
    <h2>Voici tous les gossips</h2>
    <a href="/gossips/new/">Mon nouveau gossip</a>
    <br>
    <hr>
<div>
  <% if defined?(gossips) && gossips %>
    <% gossips.each_with_index do |gossip,id| %>
      <p>
        <a href="/gossips/<%= id + 1 %>"><%= gossip&.author %></a><br/>
        <%= gossip&.content %>
      </p>
    <% end %>
  <% else %>
    <p>Aucun gossip à afficher.</p>
  <% end %>
</div>
  </body>
</html>