<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Voici le gossip de <%= show.author %></h1>
    <a href="/gossips/new/">Mon nouveau gossip</a>
    <a href="/">Liste des gossips</a>
    <hr>
    <div>
    <p><%= show.content %></p>
    </div>

  </body>
</html>